.color{
	color: black;
}
.note{
	color: gray;
	font-size: 15px;
}
#grid{
	display: grid;
	grid-template-columns: 50% 50%;
}
.button_1{
	width: 300px;
	background-color: rgb(57, 194, 237);
	height: 50px;
	border-radius: 100px;
}
.button_2{
	width: 200px;
	background-color: rgb(8, 172, 71);
	height: 50px;
	border-radius: 100px;
}
.label-a-legant{
	font-size: 50px;
	color: gray;
}
.label-prety-easy{
	font-size: 50px;
	color: gray;
}